<header>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} - {{site.title}}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <nav>
        <ul>
            {% for item in site.navbar %}
            
            <li><a href="{{ site.baseurl }}{{ item.url }}"
                    class="{% if page.url == item.url %} active {% endif %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <a class="title-a" href="{{site.baseurl}}/">
        <h1 class="title">{{site.title}}</h1>
    </a>
</header>